.btn {
  padding: 20px 25px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(to top, #ff61b2, #e20074, #650038);
  cursor: pointer;
}
.plus {
  color: white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  align-content: center;
}
.plus:hover{
    cursor: pointer;
}
.btn-size{
  position: absolute;
  right: 45%;
  bottom: 20%;
}
.btn-size-2{
  position: absolute;
  right: 8%;
  bottom: 8%;
}
@media screen and (max-width: 1368px){
.btn {
    padding: 11px 15px;
}}