.right-container {
  width: 60%;
  height: 100%;
  background-image: linear-gradient(to bottom, #151820 50%, #2c3040);
}
.image-container{
  background-image: url('../../assets/Banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 12rem;
  top: -3px;
  margin: -0.19rem 0 0 0;
  position: relative;
}
.safe-Content{
 width: 70%;
 margin-right: 0px;
 margin-left: auto;
 padding: 1rem;
}
.Sample {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  position: relative;
}
.content {
  margin: 13px 0 0;
  font-family: Helvetica;
  font-size: .875rem;
  line-height: 1.29;
  color: #c4c4c4;
}
.secret-content{
  margin: 0 1rem;
  height: calc(100% - 12rem);
  width: 95%;

}
.All_secrets::-webkit-scrollbar {
  display: none;
}
.All_secrets{
height: calc(100% - 5rem);
overflow-y: scroll;
}
.secrets {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.secrets li {
  text-decoration: none;
  color: #fff;
  list-style: none;
}
.line {
  height: 3px;
  background-color: #222632;
}
.image2{
  width: 10rem;
  height: 10rem;
}
.img-content{
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.secrets li:hover {
cursor: pointer;
}
.right-content {
  font-family: Helvetica;
  font-size: .875rem;
  color: rgb(110, 73, 105);
  
}

.right-content .text-style-2 {
  font-weight: bold;
  color: #f2f2f2;
}
.addButton{
  width: 5rem;
  padding: .5rem;
  background-color: #454c5e;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}


.right-card{
  color: ghostwhite;
  padding: 1rem;
  font-family: Roboto;
  font-size: 1rem;
  }
  .img-content-none{
    display: none;
  }
  .safe-Content2{
    position: absolute;
    top: 2rem;
    left: 18.2rem;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
  }