.left-container {
  position: relative;
  height: calc(100% - 4rem);
}
.safeScroll::-webkit-scrollbar {
  display: none;
}
.safelist{
  height: 100%;
}
.safeScroll{
  overflow-y: scroll;
  height: 100%;
}
.Group
{
  display: flex;
  width: 16rem;
  justify-content: center;
  height: 19rem;
  position: absolute;
  top: 2rem;
  left: 7rem;
}
.Group_none{
  display: none;
}
.left-img-content{
  width: 40%;
  height: 100%;
  background-color: #151820;
  flex-direction: column;
  justify-content: space-between;
}
.loading {
  border: 2rem solid rgb(29, 33, 44);
  border-radius: 50%;
  border-top: 2rem solid rgb(114, 19, 75);
  width: 4rem;
  height: 4rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 30%;
    left: 45%;

}
 @media screen and (max-width: 1440px) {
  .Group{
  
  top: 2rem;
  left: 6rem;
}
}
@media screen and (max-width: 1368px) {
  .Group{
 
  top: 11rem;
  left: 15rem;
}

}
@media screen and (max-width: 1277px) {
  .Group{
  
  top: 11rem;
  left: 14rem;
}

}
@media screen and (max-width: 1200px) {
  .Group{
  
  top: 11rem;
  left: 12rem;
}

}
@media screen and (max-width: 1100px) {
  .Group{
  top: 11rem;
  left: 10rem;
}

}
@media screen and (max-width: 1100px) {
  .Group{
  left: 8rem;
}
}
@media screen and (max-width: 913px) {
  .Group{
  left: 7rem;
}
}
@media screen and (max-width: 913px) {
  .Group{
    top: 27rem;
  left: 14rem;
}
}
