.left-container-header{
    background-color:#151820;
    display: flex;
    justify-content: space-between;
}
.allsafe{
    padding: 10px 10px 10px 39px;
    color: white;
    font-size: 19px;
    font-weight: bold;
}