.left-container-header{
    background-color:#151820;
    display: flex;
    padding: 1rem;
    height: 4rem;
    justify-content: space-between;
    border-bottom: solid 1px #2a2e3e;
}
.allsafe{
    color: white;
    font-size: 1.1875rem;
    font-weight: bold;
}