.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #2a2e3e;
  padding: 2rem;
  text-align: center;
  width: 40rem;
  z-index: 10;
  position: fixed;
  top: 7vh;
  left: calc(40% - 10rem);
  bottom: 6vh;
}
.create {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: left;
}
.model-content {
  font-size: 14px;
  color: #c4c4c4;
  text-align: left;
  line-height: 18px;
  margin: 1rem;
}
.modal-img {
  display: flex;
}
.icon {
  margin: 1rem;
  object-fit: contain;
}
.Safename {
  text-align: left;
  font-size: 13px;
  color: white;
  margin: 0.5rem 0 0 0.5rem;
}
.input-content {
  display: flex;
  flex-direction: column;
}
.Safe {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  text-decoration: none;
}
.modal-btn-cancle {
  color: deeppink;
  align-items: center;
  margin: 1rem .25rem;
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.modal-btn-create {
  color: white;
  align-items: center;
  margin: 1rem .25rem;
  padding: 0.5rem 1.5rem;
  background-color: deeppink;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.modal-btn {
  display: flex;
  justify-content: flex-end;
}
