.search{
    color: white;
    background-color: #20232e;
    width: 50%;
    outline: none;
    border: none;
    padding-left: 1rem;
}
/* .search-box{
    background-color: #20232e;
    padding: .3rem 1rem;
    align-items: center;
    height: 10rem;
    width: 10rem;
}
.search-icon{
    height: 2rem;
    width: 2rem;
} */