.search{
    color: white;
    background-color: #20232e;
    width: 50%;
    outline: none;
    border: none;
    
}
.search-box{
    background-color: #20232e;
    align-items: center;
    display: flex;
}
.search-icon{
    height: 2rem;
    width: 2rem;
} 